{
  "printWidth": 100,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "importOrder": [
    "^(react|react-dom|react-router|@hookform/resolvers|axios|effector|zod|react-hook-form)$",
    "<THIRD_PARTY_MODULES>",
    "^@app/(.*)$",
    "^@modules/(.*)$",
    "^@shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": ["cn", "cva"],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
